* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#container {
    margin-top: 50px;
    padding: 25px 30px 30px 30px;
    width: 500px;
    background: #FFF;
}

.taskItem {
    margin-bottom: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    list-style-type: none;
}

.task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.taskOptions {
    display: flex;
    gap: 5px;
}

.taskText {
    margin-left: 8px;
}

.taskItem .completeCheckbox:checked + .taskText {
    text-decoration: line-through;
    color: lightgray;
}

.priority-low {
    border-style: solid;
    border-width: 2px;
    border-color: #FFFF00;
    background-color: #FFFFF8;
}

.task-details {
    display: none;
    padding: 10px;
}

.tags-list {
    display: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.tags-list li {
    background-color: #e7e7e7;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.timestamp {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}