.footer {
	background-color: #6b9080;
	color: white;
	padding: 20px 0;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	margin: 0;
	text-align: center;
}
