* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    /*height: 100vh;*/
    background: rgb(233, 233, 233);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#container {
    margin-top: 50px;
    padding: 25px 30px 30px 30px;
    width: 500px;
    background: #FFF;
    border-radius: 5px;
}

#addNewTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    width: 375px;
}

#newTaskInput {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

#clearBtn {
    display: none;
    padding: 0;
    font-size: 28px;
    color: rgb(142, 142, 142);
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
}

#clearBtn:hover {
    background-color: rgb(238, 238, 238);
}

#newTaskOptions {
    display: none;
}

.label {
    font-size: 18px;
    margin-bottom: 5px;
}

#addBtn {
    padding: 3px 15px;
}

.taskItem {
    margin-bottom: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.taskItem:last-child {
    margin-bottom: 0;
}

.task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.taskOptions {
    display: flex;
    gap: 5px;
}

.taskText {
    margin-left: 8px;
}

.completed .taskText {
    text-decoration: line-through;
    color: lightgray;
}

.taskItem .completeCheckbox:checked + .taskText {
    text-decoration: line-through;
    color: lightgray;
}

.divider {
    margin: 10px 0;
    border: 1px solid rgb(202, 202, 202);
}

.priority-low {
    border-style: solid;
    border-width: 2px;
    border-color: #FFFF00;
    background-color: #FFFFF8;
}

.priority-medium {
    border-style: solid;
    border-width: 2px;
    border-color: #FFA500;
    background-color: #FFF8F0;
}

.priority-high {
    border-style: solid;
    border-width: 2px;
    border-color: #FF0000;
    background-color: #FFF8F8;
}

.priority-default {
    border-style: solid;
    border-width: 2px;
    border-color: #808080;
    background-color: #F8F8F8;
}

#taskDescriptionInput {
    width: 100%;
    height: 80px;
    padding: 8px;
    resize: vertical;
    outline: none;
}

.description-input {
    outline: none;
    border: 1px solid #ccc;
    padding: 5px;
}

.description-input.max-length {
    border-color: red;
}

.character-count {
    font-size: 14px;
    display: block;
    text-align: right;
}

.current-count.max-length {
    color: red;
}

#tagsInput {
    padding: 8px;
    margin-right: 5px;
    width: 180px;
}

#addTagBtn {
    padding: 8px 15px;
}

#tagsInputList {
    margin: 10px 0;
}

.tag {
    display: inline-flex;
    align-items: center;
    background-color: #e7e7e7;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    user-select: none;
}

.tag-text {
    margin-right: 5px;
}

.tag-remove {
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    color: #888;
}

.tag-remove:hover {
    color: #000;
}

.taskItem.show-tags .tags-list {
    display: flex;
}

.task-details {
    display: none;
    padding: 10px;
}

.taskItem.show-details .task-details {
    display: block;
}

.tags-list {
    display: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.taskItem.show-details .tags-list {
    display: flex;
}

.tags-list li {
    background-color: #e7e7e7;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.timestamp {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.taskText {
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
}

.completed .taskText {
    text-decoration: line-through;
    color: lightgray;
}

.taskItem .completeCheckbox:checked + .taskText {
    text-decoration: line-through;
    color: lightgray;
}

.task-details {
    display: none;
    padding: 0 10px 10px;
}

.taskItem.show-details .task-details {
    display: block;
}

.task-description {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.tags-list {
    display: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.taskItem.show-details .tags-list {
    display: flex;
}

#toolbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#active-tasks {
    margin-top: 10px;
}
