* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F0F0F0;
}

#counter-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 350px;
    text-align: center;
    border-radius: 15px;
    background: white;
}

#counter-app h1 {
    font-size: 6rem;
    font-weight: 400;
}

.controls button {
    padding: 5px 10px;
    font-size: 2rem;
}

button {
    border: none;
}

.decrBtn {
    background-color: red;
    color: white;
}

.resetBtn {
    margin: 0 5px;
}

.incrBtn {
    background-color: green;
    color: white;
}